.THOUGHT-canvas {
  display: block;
  aspect-ratio: 1 / 1;
  /* keep square */
  width: 80vmin;
  /* fit the smaller viewport side */
  border: 1px solid #fff;
  background-color: #000;
  padding: 0.1rem;
  box-sizing: border-box;
  overflow: auto;
  margin: auto;
}

#input-box {
  display: flex;
  width: 80vmin;
  /* let it keep in center */
  margin: 0 auto;
  /* let the box height be determined by its content */
  height: auto;
  /* text size */
  font-size: 2.5rem;
  line-height: 0.5;

}

#preview {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 2px;
  max-width: 80%;
  background-color: #00000000;
  border: 1px solid #d7d7d7;
  padding: 10px;
}

#source-preview {
  display: flex;
  flex-direction: row;
  gap: 0px;
  max-width: 100%;

  width: auto;
  height: auto;
}

#wfc-output-preview {
  display: block;
  background-color: #00000000;
  border: 1px solid #cfcfcf;
  margin-top: 1rem;
  mix-blend-mode: darken;
}

#pattern-preview {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* the vertical space */
  max-width: 100%;
  border: 1px solid #fff;
  width: auto;
  height: auto;
}